/**
 *
 * @Description: 基本样式配置文件
 * @Author: Owen
 * @Date: 2019-06-17 14:47
 *
 */

@import './mixin';

/**
 *
 * @Description: 字体大小
 *
 */


/**
 *
 * @Description: 字体颜色
 *
 */

$m-table-header-font-color: #909399;

/**
 *
 * @Description: 背景色
 *
 */

$m-primary-background-color: #FFF;
$m-table-header-background-color: #fbfbfb;

/**
 *
 * @Description: 激活色
 *
 */

$m-active-color: #ecf5ff;

/**
 *
 * @Description: 边框颜色
 *
 */

$m-border-color: #f00;
